
#Framework
Flask==3.1.3
flask-cors==6.0.2
Jinja2==3.1.6
Werkzeug==3.1.8
MarkupSafe==3.0.3
itsdangerous==2.2.0
click==8.3.3
blinker==1.9.0


numpy==2.4.5
pandas==2.3.3
scikit-learn==1.6.1
joblib==1.5.3
scipy==1.17.1

#images Processing
Pillow==10.1.0
opencv-python==4.13.0.92

# ONNX
onnxruntime==1.25.1
onnx==1.21.0
protobuf==4.25.9
flatbuffers==25.12.19

#  HTTP requests
requests==2.33.1
urllib3==2.6.3
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13


matplotlib==3.11.0
contourpy==1.3.3
cycler==0.12.1
fonttools==4.63.0
kiwisolver==1.5.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0

# read Write Excel/CSV
openpyxl==3.1.5
xlrd==2.0.2
et_xmlfile==2.0.0

# Create PDF
reportlab==5.0.0
weasyprint==69.0
cssselect2==0.9.0
pyphen==0.17.2
tinycss2==1.5.1
webencodings==0.5.1
pydyf==0.12.1

